body{
  background-color: #bedcfa;
}
h1{

  color: #0E49B5;
}
h1:hover{
  color: #fc8621
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  height: 0;
  width: 6%;
  border-width:5px;
}
hr:hover{
    border-color: grey
}
